<!--This file holds the whole navigation bar and will be included on the _Layout.cshtml page.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!--Link to home page-->
    <a class="navbar-brand" href="#">@Html.ActionLink("Shoey", "Index", "Home", new { @class = "navbar-brand" })</a>

    <!--Toggle navbar on smaller devices-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--Navbar-->
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <!--Link to home page-->
                    @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <!--Link to store page-->
                <a class="nav-link" href="#">@Html.ActionLink("Products", "Products", "Home", new { @class = "nav-link" })</a>
            </li>
            <li class="nav-item">
                <!--Link to about page-->
                <a class="nav-link" href="#">@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</a>
            </li>
            <li class="nav-item">
                <!--Link to contact page-->
                <a class="nav-link" href="#">@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })</a>
            </li>            
        </ul>

        <!--Search bar-->
        <form class="form-inline my-2 my-lg-0" data-children-count="1">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>